<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-
'<style>'
+ include(`style.css`)
+ '</style>'
%>
    <title>Document</title>
  </head>
  <body>
    <header>
      <p><a href="http://localhost:8080/">Acceuil</a></p>
      <p><a href="http://localhost:8080/menu">Menu</a></p>
      <p><a href="http://localhost:8080/info">info</a></p>
      <p><a href="http://localhost:8080/commentaire">Commentaire</a></p>
    </header>
   
  
      
    <h1>Commentaire</h1>
   
  
    
    <main>
      <p>
        <div>
          <% commentaire.forEach(msg => { %>
            <p><strong>Nom : </strong><%= msg.prenom %> <%= msg.nom %> <strong>Note : </strong> <%= msg.note %>/10 <strong>Email : </strong> <%= msg.email %> <br> <strong> Commentaire : </strong> <%= msg.message %></p>
          <% }); %>
          </div>
      </p>
      <div class="btn">
      <a href="/commentaire/add">Ajouter Un Commentaire</a>
    </div>
    </main>  
  </body>
</html>
